*{
    text-align: center;
   
}


/* the tabs */

/* this helps not show ALL the tabs when people log on */
  #about_us, #celebration, #contact_us{
    display: none;
    margin-top:50px;
  }


/* homepage */

.citing_audio{
    font-size: 9px;
}


#carouselExampleInterval{
    width: 50%;
    margin: auto;
}

.carousel-item img{
    height: 500px;
}


/* About Us */
.scroll_box{
    height:120px;
    width:130px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    text-align: center;
    margin:auto;
}

ul.scroll_box_list{
    list-style-type: none;
}


.certification_pic{
    width: 500px;
    height: 400px;
}

/* Celebration */
.celebration_images img{
    width: 300px;
    height: 300px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}



ul.holidays{
    list-style-type: none;
}


/* Contact Us */
ul.social{
    list-style-type: none;
}